    </main>
    <footer class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-1 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <img src="/images/logo.png" class="bi" id="logo" width="50" height="50">
                <span class="mb-3 mb-md-0 font"> © 2023 Rajat Gupta</span>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-body-secondary" href="mailto:rajatgupta0607@gmail.com" target="_blank">
                        <i class="fas fa-envelope hover"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-body-secondary" href="https://github.com/NightShift0607" target="_blank">
                        <i class="fab fa-github hover"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-body-secondary" href="https://www.linkedin.com/in/rajat-gupta-716a5b28b/" target="_blank">
                        <i class="fab fa-linkedin hover"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <script>
        function handler(id){
            document.getElementById("title" + id).setAttribute("hidden",true);
            document.getElementById("edit" + id).setAttribute("hidden",true);
            document.getElementById("input" + id).removeAttribute("hidden");
            document.getElementById("done" + id).removeAttribute("hidden");
        }
    </script>
</body>
</html>