:root {
    --background: #352F44;
    --background2: #5C5470;
    --fontcolor: #FAF0E6;
    --hovercolor: #B9B4C7;
}

body {
    background-color: var(--background);
    color: var(--fontcolor);
    display: flex;
    flex-direction: column;
    /* min-height: 95vh; */
}

a {
    text-decoration: none;
}

.font {
    color: var(--fontcolor);
    font-size: 1.3rem;
}

nav {
    background-color: var(--background2);
}

#logo:hover {
    content: url("/images/logo2.png");
    cursor: pointer;
}

.hover {
    font-size: 1.5rem;
    color: var(--fontcolor);
}

.hover:hover {
    color: var(--hovercolor);
}

.box {
    max-width: 400px;
    margin: 4rem auto;
    background-color: var(--fontcolor);
    color: var(--background);
    border-radius: 5px;
}

#heading {
    background-color: var(--background2);
    color: var(--fontcolor);
    text-align: center;
    padding: 5px 0;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--hovercolor);
}

input[type="checkbox"] {
    margin: 20px;
    height: 20px;
}

input:checked + p {
    text-decoration: line-through;
    text-decoration-color: var(--background2);
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
}

input[type="text"] {
    text-align: center;
    height: 60px;
    border: none;
    background: transparent;
    font-size: 20px;
    width: 300px;
    margin: auto;
}

input[type="submit"] {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-color: var(--background2);
    color: var(--fontcolor);
    font-size: 30px;
    padding-bottom: 10px;
    margin: auto;
}

input[type="submit"]:hover {
    background-color: var(--background);
}

#input {
    border-bottom: none;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 var(--hovercolor);
}

.transBtn {
    background: transparent;
    border: none;
}

i {
    cursor: pointer;
}